version: '3.8'

services:

  nginx:
    image: nginx:1.23
    deploy:
      restart_policy:
        condition: on-failure
        max_attempts: 3
        delay: 10s
        window: 60s
    volumes:
      - wp_data:/var/www/html
    configs:
      - source: {{ stack_name }}_nginx_settings
        target: /etc/nginx/nginx.conf
        uid: '101'
        gid: '101'
        mode: 0400
    networks:
      - reverse-proxy
      - frontend

  wordpress:
    image: wordpress:php8.2-fpm
    deploy:
      restart_policy:
        condition: on-failure
        max_attempts: 2
        delay: 5s
        window: 20s
    volumes:
      - wp_data:/var/www/html
    networks:
      - frontend
      - backend
    secrets:
      - {{ stack_name }}_mariadb_name
      - {{ stack_name }}_mariadb_user
      - {{ stack_name }}_mariadb_password
      - {{ stack_name }}_wordpress_table_prefix
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_NAME_FILE: /run/secrets/{{ stack_name }}_mariadb_name
      WORDPRESS_DB_USER_FILE: /run/secrets/{{ stack_name }}_mariadb_user
      WORDPRESS_DB_PASSWORD_FILE: /run/secrets/{{ stack_name }}_mariadb_password
      WORDPRESS_TABLE_PREFIX_FILE: /run/secrets/{{ stack_name }}_wordpress_table_prefix

  db:
    image: mariadb:10.7-focal
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - backend
    secrets:
      - {{ stack_name }}_mariadb_root_password
      - {{ stack_name }}_mariadb_name
      - {{ stack_name }}_mariadb_user
      - {{ stack_name }}_mariadb_password
    environment:
      MARIADB_ROOT_PASSWORD_FILE: /run/secrets/{{ stack_name }}_mariadb_root_password
      MARIADB_DATABASE_FILE: /run/secrets/{{ stack_name }}_mariadb_name
      MARIADB_USER_FILE: /run/secrets/{{ stack_name }}_mariadb_user
      MARIADB_PASSWORD_FILE: /run/secrets/{{ stack_name }}_mariadb_password

  wpcli:
    image: wordpress:cli-php8.2
    deploy:
      restart_policy:
        condition: on-failure
        delay: 10s
    volumes:
      - wp_data:/var/www/html
    networks:
      - backend
    secrets:
      - {{ stack_name }}_mariadb_name
      - {{ stack_name }}_mariadb_user
      - {{ stack_name }}_mariadb_password
      - {{ stack_name }}_wordpress_table_prefix
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_NAME_FILE: /run/secrets/{{ stack_name }}_mariadb_name
      WORDPRESS_DB_USER_FILE: /run/secrets/{{ stack_name }}_mariadb_user
      WORDPRESS_DB_PASSWORD_FILE: /run/secrets/{{ stack_name }}_mariadb_password
      WORDPRESS_TABLE_PREFIX_FILE: /run/secrets/{{ stack_name }}_wordpress_table_prefix

volumes:
  wp_data: {}
  db_data: {}

networks:
  frontend: {}
  backend: {}
  reverse-proxy:
    external: true

secrets:
{% for key, value in credentials.items() %}
  {{ stack_name }}_{{ key }}:
    external: true
    name: {{ stack_name }}_{{ key }}-{{ value | hash('sha1') | truncate(12, True, '') }}
{% endfor %}


configs:
  {{ stack_name }}_nginx_settings:
    external: true
    name: {{ stack_name }}_nginx_settings-{{ lookup('file', 'nginx.conf') | hash('sha1') | truncate(12, True, '') }}
